@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1 {
    @apply mb-5 text-3xl font-semibold text-center uppercase text-pink-400;
  }

  h2 {
    font-family: 'Great Vibes', cursive;
    @apply mt-5 mb-1 text-3xl;
  }

  p {
    font-family: 'Montserrat', sans-serif;
  }
}
